.img-1{
    width: 40vw;
    height: 50vh;
}

.img-desc{
    background-color: darkgoldenrod;
    color: black;
    opacity: 90%;
}

.row{
    display: flex;
    justify-content: center;
}

.tit{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.links{
    border-bottom: 1px solid black;
}
